catkin_ws/devel/
catkin_ws/build/
catkin_ws/install/
slprj/
*.autosave
*converted-to*
build/
*.mexa64
main.aux
main.bbl
main.blg
main.brf
main.idx
main.log
main.out
main.synctex.gz
main.tex.bak
main.toc
*.bak
main.dvi
Documents/Master/sections/*.log
*~

