#!/usr/bin/env python
PACKAGE = "liurov"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
# setparameters

gen.add("pub_rate",    double_t, 0, "the maximum publish rate", 100, 0.1, 200)

# generate the config headers
exit(gen.generate("liurov", "controller", "controller"))
