#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Controller list
controller_enum = gen.enum([
    gen.const("Manual",             int_t, 0, ""),
    gen.const("LQ",                 int_t, 1, ""),
], "An enum for controllers")

# Add Controller
#gen.add("controller", int_t, 0, "Choose which controller to use", 0, 0, 1, edit_method=controller_enum)
controller_group = gen.add_group("Controller", state=True)
controller_group.add("controller", int_t, 0, "Choose which controller to use", 0, 0, 1, edit_method=controller_enum)

pid_group = controller_group.add_group("Pid_parameters", type="collapse", state=False)

pid_group.add("P_angular_vel_x",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("I_angular_vel_x",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("D_angular_vel_x",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("N_angular_vel_x",   double_t, 0, "", 1.0, 1.0, 100)

pid_group.add("P_angular_vel_y",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("I_angular_vel_y",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("D_angular_vel_y",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("N_angular_vel_y",   double_t, 0, "", 1.0, 1.0, 100)

pid_group.add("P_angular_vel_z",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("I_angular_vel_z",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("D_angular_vel_z",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("N_angular_vel_z",   double_t, 0, "", 1.0, 1.0, 100)

pid_group.add("P_vel_x",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("I_vel_x",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("D_vel_x",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("N_vel_x",   double_t, 0, "", 1.0, 1.0, 100)

pid_group.add("P_vel_y",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("I_vel_y",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("D_vel_y",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("N_vel_y",   double_t, 0, "", 1.0, 1.0, 100)

pid_group.add("P_vel_z",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("I_vel_z",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("D_vel_z",   double_t, 0, "", 0.5, 0.1, 20)
pid_group.add("N_vel_z",   double_t, 0, "", 1.0, 1.0, 100)

# generate the config headers
exit(gen.generate("bluerov", "matlab_controller", "matlab_controller"))
