#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Controller list
controller_enum = gen.enum([
    gen.const("Manual",             int_t, 0, ""),
    gen.const("LQ",                 int_t, 1, ""),
], "An enum for controllers")

# Add Controller
gen.add("controller", int_t, 0, "Choose which controller to use", 0, 0, 1, edit_method=controller_enum)

gen.add("P_angular_vel_x",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("I_angular_vel_x",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("D_angular_vel_x",   double_t, 0, "", 0.5, 0.1, 20)

# generate the config headers
exit(gen.generate("bluerov", "matlab_controller", "matlab_controller"))
