#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("P_angular_vel_x",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("I_angular_vel_x",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("D_angular_vel_x",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("N_angular_vel_x",   double_t, 0, "", 1.0, 1.0, 100)

gen.add("P_angular_vel_y",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("I_angular_vel_y",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("D_angular_vel_y",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("N_angular_vel_y",   double_t, 0, "", 1.0, 1.0, 100)

gen.add("P_angular_vel_z",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("I_angular_vel_z",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("D_angular_vel_z",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("N_angular_vel_z",   double_t, 0, "", 1.0, 1.0, 100)

gen.add("P_vel_x",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("I_vel_x",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("D_vel_x",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("N_vel_x",   double_t, 0, "", 1.0, 1.0, 100)

gen.add("P_vel_y",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("I_vel_y",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("D_vel_y",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("N_vel_y",   double_t, 0, "", 1.0, 1.0, 100)

gen.add("P_vel_z",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("I_vel_z",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("D_vel_z",   double_t, 0, "", 0.5, 0.1, 20)
gen.add("N_vel_z",   double_t, 0, "", 1.0, 1.0, 100)

# generate the config headers
exit(gen.generate("bluerov", "pid_parameters", "pid_parameters"))
